<div class="acerca-de">
    <img src="../../../assets/img/Foto-acercade.jpg" class="ima-fluid" alt="acerca de jose">
    <div class="acerca-de-info">
        <h2>Acerca de mi...</h2>
        <div class="divider"></div>
        <div class="iconos"><i class="fas fa-edit"></i></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, magni?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio commodi quasi hic aspernatur quidem dolorum soluta, quo perspiciatis, tempora nulla inventore! Ipsam blanditiis consectetur officiis?</p>
        <br>
    </div>
</div>
