<div class="app-perfil">
    <div class="img-portada">
        <img src="../../../assets/img/Banner.PNG" id="banner">
    </div>    
    <main class="Perfil">
        <div class="info-content">
            <h1>Soy <span>{{persona.nombre}} {{persona.apellido}}</span> </h1>
            <p>Tengo 32 años y soy de Córdoba capital, Argentina.</p>
            <a download href="#"><button class="download-cv">Descargar CV</button></a>
        </div>
        <div class="img-perfil">
            <img src="../../../assets/img/Foto-Perfil.PNG" alt="Foto-Perfil">
        </div>
    </main>
</div>



