<div class="proyectos">
    <div class="proyectos-cuerpo">
        <h2>Experiencia</h2>
        <div class="divider"></div>
    </div>
    <div class="container">
        <ul class="item-list">
            <li class="cards">
                <div class="card">
                    <div class="card__titulo">
                        <h3>Titulo</h3>
                        <br>
                        <p>Descripcion</p>
                        <p>desde-hasta</p>
                    </div>
                    <div class="proyectos__links">
                        <a href="#"><i class="fas fa-globe"></i></a>
                        <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                    </div>
                </div>
            </li>
        </ul>    
    </div>
    <br>
</div>
