.experiencia-cuerpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

.experiencia-cuerpo h2 {
    font-size: 2.5em;
}

.experiencia .container {
    height: 70vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container li {
    list-style: none;
}

.cards {
    float: left;
}

.card {
    width: 300px;
    align-content: center;
    border: 0.1px grey solid;
    height: auto;
}

.card1_img {
    width: 100%;
    height: 150px;
    background-image: url(../../../assets/img/trabajos.jpg);
    background-size: cover;
}

.card__titulo {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    color: black;
}

.experiencia__links {
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
}

.experiencia__links a {
    color: #fff;
    text-decoration: none;
}

.experiencia__links i {
    font-size: 1em;
    color:black;
}