<div class="habilidades">
    <h2>Habilidades</h2>
    <div class="divider"></div>
</div>
<div class="progreso">
    <div class="html">
    <circle-progress [percent]="85" [subtitle]="'HTML'" [subtitleFontSize]="'1.5em'"></circle-progress>
    </div>
    <div class="css">
    <circle-progress [percent]="80" [subtitle]="'CSS'" [subtitleFontSize]="'1.5em'"></circle-progress>
    </div>
    <div class="java">
    <circle-progress [percent]="70" [subtitle]="'JAVA'" [subtitleFontSize]="'1.5em'"></circle-progress>
    </div>
    <div class="angular">
    <circle-progress [percent]="75" [subtitle]="'ANGULAR'" [subtitleFontSize]="'1.5em'"></circle-progress>
    </div>
</div>