<div class="habilidades">
    <h2>Habilidades</h2>
    <div class="divider"></div>
</div>
<div class="progreso">
    <div class="html">
    <circle-progress [percent]="85"></circle-progress>
    <p>HTML</p>
    </div>
    <div class="css">
    <circle-progress [percent]="80"></circle-progress>
    <p>CSS</p>
    </div>
    <div class="java">
    <circle-progress [percent]="85"></circle-progress>
    <p>JAVA</p>
    </div>
    <div class="angular">
    <circle-progress [percent]="75"></circle-progress>
    <p>ANGULAR</p>
    </div>
</div>