<div class="habilidades">
    <h2>Habilidades</h2>
    <button type="button" class="btn btn-dark" routerLink="/newskill" *ngIf="isLogged">Nueva Skill</button>
    <div class="divider"></div>
</div>
<div class="progreso" *ngFor="let skills of skills">
    <div class="skill">
    <circle-progress [percent]="(skills.porcentaje)" [subtitle]="(skills.nombre)" [subtitleFontSize]="'1.5em'"></circle-progress>
    </div>
    <div class="experiencia__links" *ngIf="isLogged">
        <button class="btn btn-secondary" routerLink="/editskills/{{skills.id}}"><i class="bi bi-pencil"></i></button>
        <button class="btn btn-secondary" (click)="delete(skills.id)"><i class="bi bi-x"></i></button>
    </div>
</div>