.header {
    background-color: rgb(72, 72, 206);
    display: flex;
    justify-content: space-between;
    align-content: center;
}

img {
    width: 120px;
    height: 70px;
}

.social{
    margin-top: 22px;
    margin-left: 800px;
}

.social a{
    font-size: 30 px;
    font-style: italic;
    padding: 15px;
}

.social i {
    font-size: 1.6rem;
    color: white;
}

.button {
    padding-right: 20px;
    margin-top: 15px;
    color:black;
}