<div class="header">
    <div class="LogoAP">
        <img src="../../../assets/img/APLogo.png" alt="">
    </div>
    <div class="social">
            <a href="https://www.facebook.com/JosEABarreto/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/JAB1990"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/joseabarreto/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/chichobarreto/"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="button">
        <input class="btn btn-primary" type="button" value="Iniciar Sesión">
    </div>
</div>